body {
    margin: 0;
    padding: 0
}

header {
    background: black;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 0 40px;
}

footer {
    background: black;
}
.footer {
    color: white;

}
section {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    padding: 30px 0;
}
.footer {
    color: white;

}

.ul {
    padding: 0;
}

.ul li {
    list-style: none;
    padding-top: 10px;
}

.ul li a {
    text-decoration: none;
    color: white;
}

.ul li a:hover {
    color: blueviolet;
}