/*desk*/
.list-desk{
    display: grid;
    grid-template-columns:1fr 1fr 1fr ;
    margin-top: 200px;
     margin-left:100px;
  }
  .box-desk{
      width: 500px; 
      height: 300px;
      border: 1px solid #222;
      margin-bottom: 40px;
      text-align: center;
  }
  .box-desk a{
      text-decoration: none;
      font-size: 40px;
  }
  .box-desk-2 a{
      margin-top: 150px;
    text-decoration: none;
    font-size: 40px;
}
  .box-desk-2{
    width: 500px; 
    height: 300px;
    border: 1px solid #222;
    margin-bottom: 40px;
    text-align: center;
    background-color: #00FF00;
  }